.card {
    position: relative;
    margin: 5%;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    border-radius: 3px;
    /* box-shadow: 4px 4px 20px -10px black; */
    max-width: 600px;
}