html, body {
  font-family: sans-serif;
  margin: 0;
  background-color: black;
  height: 100%;
}

#home, #root {
  height: 100%;
  width: 100%;
}

canvas {
  position: fixed;
  display: block;
  z-index: 1;
}

.navnavlinks {
  z-index: 5;
}

#homemenu {
  z-index: 99;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 30vh;
}

.hometext {
  z-index: 6;
  width: 100vw;
  text-align: center;
  font-size: min(9vmin, 60px);
  font-family: 'Major Mono Display', 'Orbitron', 'Lexend Zetta', monospace;
  margin: 0 0 0 0;
  /* font-weight: 600; */
  color: rgba(255, 255, 255, 0.7);
  /* -webkit-text-stroke: black 2px; */
  user-select: none;
  padding-bottom: 2vh;
}

.name {
  display: flex;
  flex-direction: row;
  width: 100vw;
  align-items: center;
  margin-bottom: 0;
  z-index: 5;
}

.canvaswrapper {
  position: fixed;
  top: 50vh;
  z-index: 2;
  width: 100vw;
  height: 50vh;
  background-image: linear-gradient(transparent, black);
}

*, ::after, ::before {
  box-sizing: border-box;
}